.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px; /* Add horizontal padding to prevent content from touching edges */
  box-sizing: border-box; /* Include padding in element's total width */
  width: 100%; /* Ensure content takes full width */
  --tw-text-opacity: 1;
  color: rgb(204 220 255/var(--tw-text-opacity));
  font-weight: 700;
  
}

.header-logo {
  width:60px; 
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}



.header-title-container{
  display: flex;
  align-items: center;

}

.header-title {
  font-size: 4rem;
  font-family: 'Cubano';
  color: #fff;
  letter-spacing: 1px;
  
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px); /* how high it goes */
  }
  100% {
    transform: translateY(0);
  }
}




.header-rocket {
  width: 100px;
  height: 100px;
  object-fit: cover;
  animation: floatUpDown 4s ease-in-out infinite;
}

.header-description {
    width: 100%;
    max-width: 700px;
  font-size: 1.5rem;
  font-family: 'wotfardregular';
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-description-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-logo-text {
  font-size: 1.5rem;
  font-family: 'wotfardregular';
  
}

@media screen and (max-width: 600px) {
  .header-title {

    line-height:1;
   
  }

  .header-rocket {
    display: none;
  }

  .header-description {
    font-size: 1rem;
  }

  .header-logo-text {
    font-size: 1rem;
  }

  .header-logo {
    width: 40px;
    height: 40px;
  }
}

